


<table>
    <th:block th:each="tag : ${tags}">
        <tr>
            <td>
                <p th:text="${tag.name}"></p>
            </td>
            <td>
                <a th:href="@{/delete_tag/{id}(id=${tag.id})}">X</a>
            </td>
        </tr>
    </th:block>
</table>


<form action="#" th:action="@{/tag_save}" th:object="${tagData}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <input type="submit" value="Create New">
</form>