<form action="#" th:action="@{/post_save_edit/{id}(id=${post.id})}" th:object="${post}" method="post">
    <label for="name">Title</label>
    <input type="text" th:field="${post.title}" id="name" placeholder="Name">
    <label for="text">Text</label>
    <input type="text" th:field="${post.text}" id="text" placeholder="text">
    <input id="checkbox" type="checkbox" name="visible" th:checked="${post.visible}" />
    <label for="checkbox">Visible</label>
    <input type="submit" value="Save">
</form>